div {
  border-style: solid;
}

.skeleton {
  margin: auto;
  margin-top: 25px;
  width: 500px;
  height: 600px;
  border-style: solid;
  border-color: black;
  border-width: 20px;
  box-shadow: -20px 20px 10px #888888;
  background-color: black;

}

button {
  margin: auto;
}

#clear {
  display: inline;
  margin-right: 240px;
}

h1 {
  text-align: center;
  margin: 20px auto
}

.screen {
  height: 70px;
  padding-top: 3px;
  padding-left: 5px;
  font-size: 35px;
  color: white;
}

img {
  display: inline-block;
  padding: 0;
  border-radius: 30%;
  outline: 10px solid black;
  outline-offset: -10px;
}

#zero {
  margin-right: 8px;
}
