body {
    font-style: sans-serif;
    text-align: center;
}
p {
    padding: 10px;
    margin: 50px;
}
.screen {
    grid-area: header;
}
.grid-container {
    grid-template-areas: 'header header header header';
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    grid-gap: 10px;
    background-color: #B87B18;
    padding:10px;
}

.grid-container>div {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid black;
    text-align: center;
    font-size: 30px;
    padding: 10px;
}